[2016-06-10 08:50] mada41 opened #1 "Android support"
hi @bathejasumeet , great plugin 👍
btw any plan for merge to https://github.com/triniwiz/nativescript-image-cache-it ?

[2016-06-10 10:27] bathejasumeet commented on #1
Hello @mada41 ..thinking of integrating facebook fresco for android with this one, markups are way off with the plugin you mentioned

[2016-06-13 02:55] mada41 commented on #1
ok i see

[2016-06-13 02:55] #1 closed

[2016-06-14 03:30] leocaseiro opened #2 "Why not use Pod instead?"
Hi, thanks for this amazing plugin.

I'm trying to implement with Angular.
Anyway. I've got the follow error:

`sd_setImageWithURLCompleted is not a function`

So I used Pod to install and it seems working great.

How about replace it to implement using Pod? Isn't a better way to maintain this repo?

[2016-06-14 04:36] bathejasumeet commented on #2
Hi, do you mean using . Podfile file instead of .framework file? only reason I didn't use a pod and instead used a static library is because pod didn't work well with NativeScript versions below 2.0, and tns build always failed, throwing errors for Target not specified, which is a requirement for latest pod  and is revamped in 2.0 . I'll look into this and get back at you. If possible, can you pro

[2016-06-14 04:40] leocaseiro commented on #2
Hi @bathejasumeet,

I removed the platform ios and added it again, so I couldn't reproduce the error again. I really tried.

Anyway!

Instead of having the `platforms/ios/WebImage.framework`, that would much easier with `platforms/ios/Podfile` which would be the simple code bellow and nothing else:

Podfile
[code]

Reference: [IQKeyboardManager/platforms/ios/Podfile](https://github.com/tjvantoll/n

[2016-06-14 04:46] bathejasumeet commented on #2
I completely understand it is simple and a norm to use podfile instead of static libraries, I agree with you, when you build it on 2.0 it works perfectly, but when using NativeScript 1.7.2 or 1.6 , the build  fails with podfile. It throws a Target not specified exception. The cocoa pods package manager pod specs changed in between NS 1.7.2 and 2.0 , and to adapt to the latest pod spec changes were

[2016-06-14 04:49] bathejasumeet commented on #2
Sorry I mean removing and adding platform?

[2016-06-14 05:43] leocaseiro commented on #2
It seems working fine for me. We can close the issue.

How about leave the Podfile in a version 2.x for who is using {n} 2.x?

up to you, anyway.

---

PS: I also have a question about the Native [image-cache library from {N}](https://docs.nativescript.org/cookbook/ui/image-cache). Is your library doing a totally different job? Have you used it the {N} one?

I'm sorry asking in the same issue. I'm

[2016-06-14 07:14] bathejasumeet commented on #2
@leocaseiro ,
I would be happy to leave the podfile in N 2.0, will release a new version 2.0 with other upgrades that I wish to work on .
Regarding image-cache library from N - yes , I tried using it, it is cumbersome to cache the images yourself and request for them  and write handlers, it essentially is lot of boilerplate as compared to easy solutions available out there. The second important po

[2016-06-14 07:14] #2 closed

[2016-06-19 09:20] bathejasumeet commented on #2
@leocaseiro ,
Hi,
 as promised I have added Podfile along with other changes to the plugin (though the changes are breaking to support common markup for android)

[2016-06-19 09:23] bathejasumeet commented on #1
Hello @mada41, @manijak  have added support for android in version 2.0 of the plugin. It works on NS 2.0, however, this is a breaking change, markups have been changed considerably to make sense on android, so you might have to change the code a little bit to make it work, please refer readme :)

[2016-06-20 22:19] NordlingArt opened #4 "Error: "image.ios.sd_setImageWithURLCompleted is not a function.""
I am unable to get the image cache to work. The error that I get is:

[code]

My XML is as simple as follows:

[code]

[2016-06-20 22:22] NordlingArt commented on #4
**Solved:** Forgot that livesync doesn't include new framework libraries. Just had to restart the emulation.

[2016-06-20 22:22] #4 closed

[2016-07-01 10:59] blackrider401 opened #5 "Cannot read property 'drawee' of undefined"
I keep getting error

[2016-07-04 04:44] bathejasumeet commented on #5
Hi, did you try removing the platform and re adding it, and did you initialize the caching library as specified in readme?

[2016-07-04 08:21] blackrider401 commented on #5
Working now. Thank u

[2016-07-04 08:26] #5 closed

[2016-07-18 17:45] vchittar commented on #4
What do you mean you "had to restart the emulation"? I am currently experiencing the same problem.

[2016-08-31 18:52] shanermr opened #6 "Compatible with Angular 2?"
Does this plugin work with Angular2?
Image never loads. Am I doing something wrong?

main.ts
`if (application.android) {`
    `application.onLaunch = function (intent) {`
        `console.log('in  launch');`
        `imageCache.initialize();`
    `};`
`}
`

Component:
`import {registerElement} from "nativescript-angular/element-registry";`
 `registerElement("WebImage", () => require("nativescript-

[2016-09-01 00:43] leocaseiro commented on #6
Hi @shanermr, I believe you are trying on Android as you don't need to start on iOS.

fresco needs to be started before your bootstrap. so add before that, like so:

[code]

[2016-09-01 13:49] blaur commented on #6
He already copied in that he initializes in mail.ts?

I am experiencing the same problem.

[2016-09-01 13:51] shanermr commented on #6
@leocaseiro life saver! I had it below my nativeScriptBootstrap line. Moved it directly below my import lines and working as expected.

[2016-09-01 13:53] blaur commented on #6
@shanermr  Do you just require the application module in the following way:

var applicationModule = require("application");

[2016-09-01 14:00] shanermr commented on #6
Yep

`var application = require("application");`
`var imageCache = require("nativescript-web-image-cache");`

`if (application.android) {
    application.onLaunch = function (intent) {
        console.log('in  launch');
        imageCache.initialize();
    };
}`

`nativeScriptBootstrap(AppComponent,`

[2016-09-01 14:03] blaur commented on #6
Thanks a lot to both of you!

It works like a charm! ;)

[2016-09-01 14:10] #6 closed

[2016-09-19 23:14] NNieto opened #7 "Crash on Android"
When I try to open the app, after this crash the app can not navigate to another page

com.tns.NativeScriptException:
Calling js method getView failed

Error: Building UI from XML. @file:///app/views/recipesList/recipesList.xml:48:39
���Module '/data/data/org.nativescript.wosapp/files/app/tns_modules/nativescript-web-image-cache' not found for element 'nativescript-web-image-cache:WebImage'.
���ja

[2016-09-19 23:32] #7 closed

[2016-09-23 13:41] NordlingArt opened #8 "Fallback to Image instead of WebImage in case the value is a local image?"
I feel like this is necessary because not always are images a URL. Else I need to create two elements,  as in one being a WebImage and another an Image depending on a specific condition:

[code]

[2016-09-23 15:06] bathejasumeet commented on #8
Hi, I see where you are coming from, okay.. Give me a week, I'll integrate it, thanks for feedback

[2016-09-23 15:08] bathejasumeet commented on #8
The reason I am asking for a week is because I have a couple of other things in mind that I want to add to it

[2016-09-23 16:51] NordlingArt commented on #8
@bathejasummet - Hi, thanks! Sounds good, no rush :)

[2016-09-29 19:29] karan1149 commented on #7
Seem to be getting a similar error on app launch, causes the app to crash:

com.tns.NativeScriptException:
Calling js method getView failed

EXCEPTION: Error in pages/groups/groups.html:5:8
ORIGINAL EXCEPTION: TypeError: Cannot set property 'width' of null
ORIGINAL STACKTRACE:
TypeError: Cannot set property 'width' of null
    at StylePropertyChangedHandler.ViewStyler.setNativeLayoutParamsProperty

[2016-09-30 10:34] bathejasumeet commented on #8
@NordlingArt Done, upgraded, handles local images

[2016-09-30 10:34] #8 closed

[2016-09-30 13:47] NordlingArt commented on #8
@bathejasumeet - Nice, thanks!

[2016-10-13 11:08] andreasotto commented on #4
I'm getting the same error, but restarting livesync does not help.

[2016-10-13 11:51] NordlingArt commented on #4
@andreasotto - You have to restart the emulation, not livesync.

`tns run ios --emulator`

[2016-10-13 11:59] andreasotto commented on #4
Error message has gone, but no image displayed - just nothing, no console message, no image. How to debug that situation?

[2016-10-17 21:00] 9thwall opened #9 "I'm getting an error after trying to set this up"
Hi!
I'm getting an error when I set your plugin.
I'm using {N} with Angular.

I added it like this in my main.ts...

[code]

and then I'm getting this error

[code]

I should mention that I tried to implement the nativescript-fresco plugin and had a similar but different error after adding it so I'm starting to believe it's most likely an issue with my app but the app works perfectly fine without

[2016-12-08 11:40] RyanSMurphy opened #10 "Plugin doesnt work with RadListView for Android"
This plugin doesnt work with RadListView for android. No image displays. It just displays blank.

It works with RadListView in ios. But not Android.

[code]

[2016-12-09 07:06] ahalls opened #11 "Typescript/Angular2"
Would like to see how to use the plugin with Typescript/Angular2

[2016-12-27 09:29] kerbooo commented on #11
Yes I have same problem? How can we implement this plugin with TypeScript/Angular 2?

[2016-12-29 13:03] zoeitsolutions commented on #11
+1

[2016-12-30 23:41] m-abs opened #12 "Bug: cannot be bundled with nativescript-dev-webpack"
I've porting a project to building with `nativescript-dev-webpack` and I've run into a problem with this module.

`webpack` complains that it can't find the module. This is because main in `package.json` refers to `WebImageCache.js` but it should refer to it without the file extension.

See here:
http://docs.nativescript.org/tooling/bundling-with-webpack#referencing-platform-specific-modules-from-

[2017-01-03 03:29] ahalls commented on #11
This is what I did

Added the following lines to the`main.ts` file.
[code]

Then add this line into the html file where the image is to appear
[code]

[2017-01-10 19:44] #12 closed

[2017-01-10 19:46] bathejasumeet commented on #11
I'll look into it

[2017-01-11 10:23] timricker commented on #11
@ahalls, I'm getting the following when following your implementation:

 image.ios.sd_setImageWithURLCompleted is not a function.

[code]

Any ideas?

@basumeet, I'm interested to know how you go looking into it.

This looks like a great plugin if it can be made Angular 2 + Typescript friendly.

[2017-01-13 11:11] bathejasumeet commented on #11
Updated to v3.0
Added angular support

[2017-01-13 11:11] #11 closed

[2017-01-13 11:13] bathejasumeet commented on #9
Added angular support in v3.0.
Issue resolved in v3.0

[2017-01-13 11:13] #9 closed

[2017-01-25 12:01] ADjenkov opened #15 "Fail to build app with the plugin"
Trying to build {N} + Angular 2 (tns --version = 2.4.2) Android app with the plugin:

`node_modules/nativescript-web-image-cache/WebImageCache.d.ts(1,1): error TS2654:
 Exported external package typings file cannot contain tripleslash references. P
lease contact the package author to update the package definition.`

[2017-01-25 17:02] bathejasumeet commented on #15
I'll look into it

[2017-01-25 17:03] bathejasumeet commented on #15
I'll look into it

On Jan 25, 2017 5:32 PM, "Alexander Djenkov" <notifications@github.com>
wrote:

[2017-01-26 09:53] bathejasumeet commented on #15
Resolved in 3.2

[2017-01-26 09:53] #15 closed

[2017-01-26 11:51] ADjenkov commented on #10
I can confirm that is not working too. I think that the [src] binding is broken

[2017-01-29 10:13] ADjenkov opened #16 "Element for WebImage already registered"
If I do this in main.ts:

`application.on(application.launchEvent, function (args: application.ApplicationEventData) {
    initializeOnAngular();
});`

Every time the application is resumed from previous BACK button 'exit' -  the app will crash with "Element for WebImage already registered " message. I think you should check if the element is already registered.

[2017-01-29 12:00] bathejasumeet commented on #16
resolved in v3.4

[2017-01-29 12:00] #16 closed

[2017-02-10 14:43] ntucakovic opened #17 "Question regarding clearing caches"
Hello,

First of all, it was a breeze setting up this plugin. Seems to work right away, {N} + ng2.

I just have an issue regarding default cached image lifetime. Says 30 days on Android and 7 on iOS. Does that mean that I don't have to use `clearCache()` method or?

Anyway, I'm trying to set it to 7 days on both systems. Care to point me in the right direction?

Thank you very much 👍

[2017-02-10 17:12] bathejasumeet commented on #17
you don't have to `clearCache()` after lifetime, it automatically clears it, those are default timelines provided by respective native cache libs.
I'll try exposing the lifetime API in the upcoming release.

[2017-02-10 18:21] ntucakovic commented on #17
That's great. Thank you.

Just realized another feature that would be great.

Since WebImage is probably a wrapper around Image element, we could extend it to accept placeholderImage parameter, which is resolved to a local app image, which is shown while original image isLoading. Overkill or useful feature? Either way, it would be optional whether people will use it. What do you think?

I'll do a

[2017-02-11 04:55] bathejasumeet commented on #17
You can do that right now as well, not with the image cache api though.

Overlay image over one another, at the same position. Till the web image loads, the image underneath it is displayed, which acts as a placeholder.

Nonetheless, I'll look into it as well.

Thanks

[2017-02-21 19:04] manijak opened #18 "Rounded corners not possible"
Setting border-radius via CSS does not apply here, like it does on the stock Image module (in order to create a rounded-image).

[2017-02-22 05:50] bathejasumeet commented on #18
will look into it

[2017-02-22 14:29] manijak commented on #18
No need, created a PR https://github.com/VideoSpike/nativescript-web-image-cache/pull/19

[2017-02-22 16:44] pluservice opened #20 "WebPack Build not showing Images"
On Android  normal build is OK while webPack bundle build does not show Images

  "dependencies": {
    "@angular/common": "2.4.3",
    "@angular/compiler": "2.4.3",
    "@angular/core": "2.4.3",
    "@angular/forms": "2.4.3",
    "@angular/http": "2.4.3",
    "@angular/platform-browser": "2.4.3",
    "@angular/platform-browser-dynamic": "2.4.3",
    "@angular/router": "3.4.3",
    "@ngrx/core": "

[2017-02-22 17:26] bathejasumeet commented on #20
I just resolved this in #12 , strange, can provide the sample app that fails?

Thanks

[2017-02-22 17:28] bathejasumeet commented on #18
@manijak
Thanks a ton! :)

I'll test it and merge it by this weekend, I hope that is okay :)

[2017-02-22 17:28] bathejasumeet commented on #18
I'll also try to see if equivalent is possible in SDWebImageCache (the ios equivalent)

[2017-02-22 17:37] bathejasumeet commented on #18
Merged, let this issue be open for now, I'll see if equivalent is possible for iOS

[2017-02-22 18:51] manijak commented on #18
Ok, for iOS it works by using a css class and setting border-radius half the size of the image. Not sure if SDWebImage has a similar property like Fresco.

[2017-02-22 19:19] bathejasumeet commented on #18
I don't think it will have a similar prop. SDWebImage is extension on normal UIImage, Objective C category to be specific.  If css class works for native UIImage, it should work for SDWebImage. closing this.

[2017-02-22 19:19] #18 closed

[2017-02-23 05:09] williamltb commented on #20
If you use uglifyjs to further reduce the size of bundle in webpack, you must excludes WebImage from mangle.

See the following:

`
var excludesMangle = nsWebpack.uglifyMangleExcludes;
excludesMangle.push('DropDown', 'WebImage');
`
...

`

        var compress = platform !== "android";
        plugins.push(new webpack.optimize.UglifyJsPlugin({
            mangle: {
                except: excludes

[2017-02-23 08:24] pluservice commented on #20
Here it is the app:
https://we.tl/gGZpmPiRjs

"tns run android " is ok

"npm run start-android-bundle" images are missing

[2017-02-23 10:17] williamltb commented on #20
During Webpack, the compilation will start from main.aot.ts instead of main.ts. My recommendation is to move the (initializationOnAngular) in the app.module.ts

[2017-02-27 07:16] joeizy commented on #17
Placeholder would be awesome!

[2017-03-19 01:58] tedivm opened #22 "Images not showing up on first load of page"
On the first load the image returns empty, but on subsequent loads of the page it's there.

[2017-03-25 22:17] ezequielzacca opened #23 "Height isnt automatically setted when image loads"
Is it possible to set the height of the image automatically when the image finishes loading? I dont want to set it manually.
thanks!

[2017-03-30 13:32] 3rror404 opened #24 "loaded event"
I see that there is a `isLoading` property that we can query but is there any sort of `loaded` event that we can use?

I need to display two images at _exactly_ the same time. Currently I'm querying `isLoaded` in `setInterval` loop and setting the parent elements opacity to 1 when both `isLoaded = true` but this doesn't this doesn't work very well.

Even though both images report that they have fi

[2017-04-03 18:56] iguissouma opened #25 "Rounded image on android using angular"
Hello,
I can't get rounded image on android with angular.
Any idea what's can be wrong?

[code]

[2017-04-04 10:58] bathejasumeet commented on #17
Added placeholder and lifetime specification support in v4.0

[2017-04-04 10:58] #17 closed

[2017-04-04 10:59] bathejasumeet commented on #10
This had to do with integration I suppose.
I changed nothing in latest v4 of plugin but tested RadListView and CardListView both on Angular and VanillaJS, android and iOS.
Seems to work.
Could not reproduce.
Re-open if there is anything else.
Thanks

[2017-04-04 10:59] #10 closed

[2017-04-04 11:01] bathejasumeet commented on #20
@pluservice

Updated docs to intialize in the bootstrapped Component class constructor.
Nothing else seemed to work. This has to do with the dependency graph that webpack generates.
Thanks for the info. Seems to work after initialization in the bootstrapped component.

[2017-04-04 11:01] #20 closed

[2017-04-04 11:01] bathejasumeet commented on #22
Could not reproduce this. If you are having problems, can you please share your app. I would like to have a look at it to troubleshoot.
Thanks

[2017-04-04 11:14] bathejasumeet commented on #24
I could wire calling a callback when an image loads, but that code would go in the same place where isLoading is set in the module. It would be nothing more than a syntactic sugar I reckon. Which platform are you currently on?

[2017-04-04 11:20] bathejasumeet commented on #24
Wait a minute. are you calling showImages when isLoading for both the images is false?, I see a !(not) before the isLoading property check in the if loop over there. Please correct me if I am wrong.

[2017-04-05 19:52] StudderVOF commented on #24
@bathejasumeet would be cool if I could do something like this though:

`<WebImage stretch="aspectFill" row="1" #listImage (loaded)="animateImage(listImage)" [src]="item.downloadUrl"></WebImage>`

[code]
So I can do some sort of animation on the image when its loaded.  ngAfterViewInit isn't suitable for me.

[2017-04-07 07:35] b4rtt opened #26 "Apple Mach-O Linker error"
Hi, tried to get this TNS pack working. In iPhone simulator is everything OK. But when I open project I cant build app because of this strange error. Does anybody know whats wrong? Thank u
![snimek obrazovky 2017-04-07 v 9 33 11](https://cloud.githubusercontent.com/assets/4247839/24789969/8b20619c-1b75-11e7-90cd-439297cd8e7a.png)

[2017-04-11 08:42] NordlingArt opened #27 "Support for TNS 3.0?"
The plugin is currently in TNS 3.0 RC crashing because of error:

`Failed to find module : "ui/core/proxy"`

[2017-04-13 17:29] jfturcot commented on #22
I had some problems with that also, which were fixed by adding a placeholder image.

My app uses Angular and it was happening when I was using WebImage in a very short template of a ListView. It was fine anywhere else in the app where I wasn't using it in the template of a ListView or if my template was higher than the current screen. It would not show the image on load, but it would display it fi

[2017-04-22 00:24] xavica opened #29 "Out of Memory Issue"
How to free up resources? and handle proper error handling?

Error: java.lang.OutOfMemoryError: Failed to allocate a 2073612 byte allocation with 1914240 free bytes and 1869KB until OOM
    dalvik.system.VMRuntime.newNonMovableArray(Native Method)
    android.graphics.BitmapFactory.nativeDecodeStream(Native Method)
    android.graphics.BitmapFactory.decodeStreamInternal(BitmapFactory.java:635)

[2017-04-22 04:37] bathejasumeet commented on #29
okay .. can you please tell me when you face this? I need to reproduce .

Thanks

[2017-04-24 08:22] mayureshjadhav opened #30 "Failure Image"
Can we show failure image If image url is not valid ?

[2017-04-24 10:41] bathejasumeet commented on #30
Hi, not currently, but I don't see a reason why I wouldn't be able to add this.

A feature request, I will definitely try supporting this.

Alternatively, if you are in a fix and would want to support this in  your app ASAP, you can scrape through the android fresco and SDWebImage documentation.
You can  easily expose the API in the module.

Thanks,
Sumeet

[2017-04-26 08:30] OPADA-Eng opened #31 "Image is not taking border-radius css attribute on android"
What I did:
`<IC:WebImage id="my-image-1" stretch="fill" class="user img-circle" placeholder="~/loading.gif" width="150" height="150"
                          src="{{ Image(photo) }}">
             </IC:WebImage>`

and in app.css :
`.user.img-circle{
    border-radius: 100;
    width:150;
    height: 150;
    margin-bottom: 10;
}`

[2017-04-26 08:53] #31 closed

[2017-04-26 18:51] davecoffin opened #32 "Images dont respond to all css properties on Android"
I'm trying to add border-radius to some WebImages, but they dont apply the border radius at all on Android. It works fine on iOS.

[code]
css:
[code]

[2017-04-28 14:17] davecoffin commented on #29
@bathejasumeet I also had this problem. I had a GridView displaying 16-30 images (before scrolling down), and they were all 600x600 images. I kept getting the memory issue. I changed the gridview to display images that are 100x100, and that improved things greatly. But, the images dont look crisp anymore.

[2017-05-03 23:32] Cayan commented on #27
+1

[2017-05-04 09:38] yezarela commented on #27
Really need this since TNS 3.0 has been released :D.
https://github.com/NativeScript/NativeScript/blob/master/Modules30Changes.md#view-class-hierarchy

[2017-05-04 09:40] rezonjov commented on #27
web image cache fails horribly on TNS 3.0

:(

[2017-05-09 23:55] bnussey commented on #27
Any updates on this? I've managed to get iOS going locally but its required a significant restructure of the plugin...

[2017-05-10 19:27] Cayan commented on #25
This is how it should be:
`[rounded]="true"`

[2017-05-11 07:01] iguissouma commented on #25
I tried the following possibility but on my device android v6 I have always no rounded image.
[rounded]="true"
rounded="true"
[rounded]="'true'"

[2017-05-14 11:48] Cayan commented on #27
@bnussey I have started a fork to support Android, maybe you could help on the iOs.
https://github.com/Cayan/nativescript-web-image-cache/tree/ns3

[2017-05-14 13:27] basumeet commented on #27
working on it, have time today since it is weekend , sorry for the delay
guys

On Sun, May 14, 2017 at 5:18 PM, Daniel Pinto <notifications@github.com>
wrote:

--
Regards,
Sumeet Batheja
Application Development,
VideoSpike.

[2017-05-14 16:32] bnussey commented on #27
There is already a new repo that works with 3.0 and I've been contributing to it - https://github.com/yezarela/nativescript-image-cache

[2017-05-15 20:22] bathejasumeet commented on #27
@bnussey  that's great :D , nonetheless, I updated the plugin to work with 3.0 over the weekend, closing this issue

[2017-05-15 20:22] #27 closed

[2017-05-18 05:16] jibon57 opened #33 "Problem with ngFor in Angular JS"
Hello,

First of thanks for the plugin. During my testing with NS 3.0 Angular JS ngFor command I am getting following error:

[code]

My template:
[code]
Any idea to solve this problem? Thanks in advance.

[2017-05-18 08:09] codeback commented on #33
I'm experiencing the same problem with NS 3.0

[2017-05-24 08:09] kilka commented on #33
I'm having the same issue as well using NS 3.0.

[2017-06-15 17:00] davecoffin opened #34 "{N} 3.0 support"
Is this plugin compatible with NativeScript 3.0?

[2017-06-15 19:54] bathejasumeet commented on #34
yes, the latest version is

[2017-06-15 19:54] bathejasumeet commented on #34
are you facing any problems with NS 3.0 compatibility?

[2017-06-16 01:30] Cayan commented on #34
I started receiving multiple errors of "Path "" is not a valid file or resource." with the same code as before the upgrade. I think the component is loading much more before the js logic

[2017-06-16 08:00] bachras commented on #34
I am having exactly same problem as @Cayan . I just move to NS 3.0 and updated plugins to latest versions.

[2017-06-16 14:11] Cayan commented on #34
This is the last thing missing so I can migrate to NS 3. Even though I added multiple ngIf's to the application so the elements wouldn't be created without and src string the problem persisted.

I've added multiple debugs to the plugin and its indeed entering the setSrc function with an empty value. I made a few tests and I was unsuccessful so I gave up for the time

[2017-06-16 15:31] bathejasumeet commented on #34
I'm sure this worked and I had resolved this.. Looking into it

On Jun 16, 2017 7:41 PM, "Daniel Pinto" <notifications@github.com> wrote:

[2017-06-17 19:44] bathejasumeet commented on #34
done -- sort of shotgun surgery -- @Cayan .. thanks for the debug output... try the latest version.

Please clean the app cache from the settings. I had faced a lot of issues while fixing - many times code wasn't updated and I had to clear the cache from the app and remove platform + add platform + build (not sure if it is my device or the ns - ang4 runtime)

[2017-06-17 19:44] #34 closed

[2017-06-18 14:02] Cayan commented on #34
Now it seems to be working.

you forgot this debug: instantiating common web image

I'm also receiving lots of "bad background-color value: Error: Invalid color: undefined", any idea on this?

[2017-06-20 15:33] Cayan commented on #25
This wasn't working properly for me in the old versions too. I had to use a cardview to simulate a rounded effect with this library.

**With the latest version its working properly.**

[2017-06-21 11:46] iguissouma commented on #25
I confirm works fine with the v4.2.0.

[2017-06-22 15:49] iguissouma commented on #20
Hello,
I have same problem Image not shown when building with webpack.
Initializing on bootstrap component don't help, I got the below error:
<img width="260" alt="2017-06-22_17h47_17" src="https://user-images.githubusercontent.com/9085108/27443310-f0b4002a-5772-11e7-9620-f2da082e75b4.png">

NativeScript 3.0.1
Angular 4

Any idea How to fix this issue?

[2017-06-22 19:58] bathejasumeet commented on #20
@iguissouma -- works, just tested on my local dev with NS 3.0.3 , can you provide the repo git if it is not a private repo ?

[2017-06-23 09:10] iguissouma commented on #20
@bathejasumeet I updated NS from 3.0.1 to 3.0.3, removed the android platform and added again.
I initialize plugin on AppComponent.
It works now.

thanks, keep up the great work.

[2017-06-27 10:34] #25 closed

[2017-07-12 14:00] nicHoch opened #35 "Android local images not shown"
Hi
if I set the `WebImage.src` attribute to a local image on Android it is not shown.
Is working on iOS as expected.

[2017-07-19 07:26] OPADA-Eng opened #36 "console.log("instantiating common web image");"
please remove this from the constructor of WebImage() in file: WebImageCache-common.js
it's very annoying

[2017-07-20 21:13] bathejasumeet commented on #36
done

[2017-07-20 21:13] #36 closed

[2017-08-18 09:09] chauch-a commented on #35
Same for me when having a local url like '/data/user/0/packageName/files/dir/image.jpeg'. Setting it for src or placeholder just shows nothing and no error is thrown

[2017-09-27 10:19] alexandruantonica opened #37 "Support for border properties"
Hi,
You did a great job with this plugin, congratulations.

Do you think you could add support for the `color` & `witdh` of the border?
Like in this example : [FrescoLib](http://frescolib.org/docs/rounded-corners-and-circles.html)

[code]

Thanks.

[2017-09-28 16:40] alexandruantonica opened #38 "iOS images not shown"
Hi,

The plugin works on Android (device/emulator) but it doesn't show the image from `src` on iOS.

`nativescript` : `3.1.3`
`tns-core-modules` : `3.1.1`
`tns-ios` : `3.2.0` (the same for android)
`angular...` : `4.1.3`
`nativescript-web-image-cache` : `^4.2.2`
If you need more information about the project, let me know.

I use the markup like that :
`<WebImage stretch="aspectFit" src="{{ data.im

[2017-09-30 14:33] pauly815 commented on #10
Ran into this issue.  Specifying a height resolved it.

[2017-10-02 15:59] alexandruantonica commented on #38
@bathejasumeet can you help with this bug, please ?

[2017-10-02 20:39] bathejasumeet commented on #38
@alexandruantonica

what is data.imageUri ? is it a resource from the web ? can I please get the sample link to simulate on my end ?

Thanks

[2017-10-02 21:29] alexandruantonica commented on #38
Hi @bathejasumeet
The `data.imageUri` is a string with a URL like this `http://via.placeholder.com/1200x800`.
I tried with my dynamic generated URL but I also tried with the example above.

Thanks.

[2017-10-02 23:03] bathejasumeet commented on #38
Hi @alexandruantonica
can I get your package.json to check the versions?
I am getting incompatibility errors (typescript compilation and iOS internal undefined errors) while   trying to start up the app for the config you specified.

Thanks

[2017-10-03 09:36] alexandruantonica commented on #38
Hi @bathejasumeet

This is my package.json
[code]

[2017-10-08 09:59] bathejasumeet commented on #38
Sorry for the late reply, busy week.

try https links, this one works -- it's from the same website https://via.placeholder.com/1200x800. This has to do with iOS guidelines. You can disable this in info.plist.

Let me know if it works.

Thanks,
Sumeet

[2017-10-09 04:20] pauly815 commented on #32
Looks like this was resolved w/a new rounded attribute

https://github.com/VideoSpike/nativescript-web-image-cache/pull/19

[2017-10-26 09:13] hettiger commented on #38
This is probably related with #39

[2017-10-26 09:38] hettiger commented on #29
This might be causing the issue:

[2017-10-26 09:48] elvismercado commented on #29
Maybe you could expose garbage collection and call it with `gc()` whenever it is needed.
I would not know how you should expose javascript garbage collection in ios though.

[2017-11-05 12:14] shabib3 commented on #35
@bathejasumeet
Same here...
Any update about it?

[2017-11-06 17:21] gabitoesmiapodo commented on #24
Can you know if the isLoading property changed?

I get the element with @Viewchild in AfterViewInit, and at that point if I'm downloading an image from the internet I get isLoading == true.

That value seems to never change after that, except if I check regularly with setInterval(...) (something I'd prefer no to do...).

But I'd like to know if the image ended loading and, for example, stop showin

[2017-11-15 08:21] OPADA-Eng commented on #35
any fix for this ?

[2017-11-20 09:25] bathejasumeet commented on #35
Just verified, it works for '~/..' and 'res://' paths as specified at https://docs.nativescript.org/ui/images . Also, while using 'res://'  the extension  eg. '.png' should not be specified.
Can you please explain the problem in detail?

Regards,
Sumeet

[2017-11-25 02:15] bathejasumeet commented on #35
I assume this works, please elaborate and reopen the issue if it does not.
Regards,
Sumeet

[2017-11-25 02:15] #35 closed

[2017-11-28 09:41] pap5508 commented on #4
@NordlingArt @andreasotto : how you resolved it..??

[code]

[2017-12-05 06:50] kmuthukrishnan commented on #7
Hi, Iam facing the same runtime issue. How were you able to solve it?

[2018-01-12 22:00] alexandruantonica commented on #24
Hi guys,
Does anyone solve this problem?
Thanks

[2018-01-12 22:51] 3rror404 commented on #24
Hey @alexandruantonica, I ended up just using the core image-source module and manually triggering garbage collection when the images were no longer needed.

This might not be suitable for your use case but there are more details here: https://github.com/NativeScript/NativeScript/issues/3887

[2018-01-23 16:36] #26 closed

[2018-01-24 00:07] alexandruantonica opened #40 "The property `placeholderStretch` doesn't work on Android"
I know that `placeholderStretch` is only for Android but when I try to set it up I got an error :

[code]

HTML
[code]

What is wrong?

[2018-02-28 22:49] bathejasumeet commented on #40
resolved in v4.2.4

[2018-02-28 22:49] #40 closed

[2018-02-28 22:54] bathejasumeet commented on #38
This seems to be an issue with ssl, apple does not inherently allow http resources, need to enable them in info.plist. If the issue still persists, let me know. Works on 4.2.4

[2018-02-28 22:54] #38 closed

[2018-03-01 15:48] Burgov opened #41 "Crashes straight away with "Cannot read property 'ScalingUtils' of undefined""
Installed this lib, added `initializeOnAngular();` to the AppComponent's constructor and I get the error message from the title on boot. The line that it reports in the trace is: `['aspectFit', com.facebook.drawee.drawable.ScalingUtils.ScaleType.FIT_CENTER],`. What am I doing wrong?

[2018-03-01 16:00] Burgov commented on #41
same as https://github.com/VideoSpike/nativescript-web-image-cache/issues/5, apparently :)

[2018-03-01 16:00] #41 closed

[2018-03-02 20:38] bhavincb commented on #23
+1

[2018-03-07 04:19] noumaans opened #42 "Resize / Scaling support"
Does the plugin support resize / scaling, or any plans for it?

NativeScript has decodeWidth / decodeHeight properties on Image component.
Fresco has resize / scaling and downsampling (beta) feature, but I'd be really interested in it.

[2018-03-30 13:46] MuhammadTahir92 commented on #34
how to clean the cache Where is the setting @Cayan  @bathejasumeet

[2018-03-30 13:50] MuhammadTahir92 commented on #33
I have the same issue also does  anyone have solved the issue @codeback  @kilka

[2018-04-27 15:46] anuragd7 opened #43 "Support for nativescript 4.0"
Hi
Is support for nativescript 4 coming anytime soon?

[2018-04-27 15:48] bathejasumeet commented on #43
Yes, will work on it, thanks for pointing it out

[2018-05-06 20:20] tortoisedoc opened #44 "Feature request: access to cache fom javascript"
I'd like to load (cached) bitmaps for postprocessing from javascript.
For this, I'd need something like a "get(imageid/url)" function on the cache, which is currently not available. Can this be added?

[2018-05-24 14:33] bathejasumeet commented on #43
would get it done by next week, hope that is okay.

[2018-05-24 14:53] anuragd7 commented on #43
Thanks. That would be great.

On Thu, 24 May 2018, 20:03 Sumeet Batheja, <notifications@github.com> wrote:

[2018-06-05 11:18] cryptonator000 commented on #43
any update on this?

[2018-06-12 12:48] bathejasumeet commented on #43
Hi, what is the exact error that you are getting and on which platform ? I was able to test the plugin and it worked fine on both android and iOS on ns 4.1 both js and angular projects. If you can provide a stack trace, I might be able to look into the issue better.

[2018-06-14 19:31] dianikol commented on #43
There was an error for me that it required `'SDWebImage', '~> 4.0'` instead of the one in the default Pod file for ios, If I update the pod file manually it seems the build gets done correctly,

Another thing is that in the package.json the dependencies are for ns v3?  Is this right??

[2018-06-14 21:39] NL33 commented on #43
Updating SDWebImage manually did not work for me--so the plugin is not working with ns V4. There is a forum discussion on this that cites errors:
"NSCocoaErrorDomain Code=3840 "No value."
and
"/ios/Pods/SDWebImage/SDWebImage/SDWebImageCompat.h:56:39: warning: this block declaration is not a prototype [-Wstrict-prototypes]"

Forum: https://discourse.nativescript.org/t/speed-up-remote-image-load/637

[2018-06-17 22:11] bathejasumeet commented on #43
@dianikol , changed the peer dependencies, nativescript key specifies the minimum platform which is 3.0.0. Just re-tested the plugin on NS 4.1.0 on both android and iOS, worked. Could not reproduce the warning/error with SDWebImageCache version.
@NL33 Regarding the forum you pointed to, I did implement in one of my previous apps clearing of cache  after 7 days to pull new refreshed images. Used ap

[2018-06-18 04:34] dianikol commented on #43
I did the update but the error keeps coming up. For me maybe something is wrong with my setup. I'll post my error I got from terminal If you have any idea.

[code]
And I said earlier if I modify the Pod file of the plugin to 4.0 it works.

Thank you

[2018-06-18 05:30] anuragd7 commented on #43
Thanks. Can confirm that this is working with NS 4. Closing the issue.

[2018-06-18 05:30] #43 closed

[2018-06-18 10:35] Burgov opened #45 "Can't build project that incudes 4.2.5"
Since today, I'm getting the following error when running with --bundle:

[code]

Switching back to 4.2.4 fixes the issue.

[2018-06-18 10:56] bathejasumeet commented on #45
Will fix this tonight

[2018-06-19 15:44] davecoffin commented on #45
Getting the same thing.

[2018-06-19 17:19] davecoffin commented on #45
This looks like the only change that could be meaningful wrt this issue:
https://github.com/VideoSpike/nativescript-web-image-cache/commit/23a92546ad6f6a1887e75503bf53092d7cd1fef4

[2018-06-19 19:58] bathejasumeet commented on #45
updated, please verify

[2018-07-06 06:51] EddyVerbruggen opened #46 "Where are the TypeScript sources?"
Hi!

I love this plugin and use it in several apps, and would like to contribute. However, I don't see the typeScript source files, only the transpile JS files with [sourcemaps](https://github.com/VideoSpike/nativescript-web-image-cache/blob/28606c7d69f917c6d05830c17004b4d093517e70/web-image-cache.common.js#L21).

Can you please publish the TS files to GitHub?

Thanks!
Eddy

[2018-07-08 12:44] abhayastudios commented on #24
Agree that a `(loaded)` event would be a nice addition!

Thanks for this great plugin :)

[2018-07-08 12:48] abhayastudios opened #47 "Update cache for specific URL"
I was wondering whether it is possible to force a reload for a specific URL without affect (clearing) the entire cache.

For example, if I am downloading images from a server and I would like to push updates images for future use. As far as I understand, currently the plugin will never try to reload an image unless the time limit was reached right?

Thanks!

[2018-07-09 06:37] abhayastudios opened #48 "Add WebImage element by code"
Is it possible to add a `WebImage` element to say a `GridLayout` by code instead of markup? So for example for adding a `Label` element I could do something like this:

[code]

I see the plugin extends the `tns-core-modules/ui/core/view` so it must be possible, I just am unsure which imports to make to refer to WebImage.

Thanks for this great plugin!

[2018-07-09 06:47] abhayastudios commented on #48
Oh never mind, I succeeded right after opening this issue:

[code]

[2018-07-09 06:47] #48 closed

[2018-07-10 11:49] Tyg-g opened #50 "Nativescript 4 support"
I'm trying to use this plugin. I get an error right at installation.

[code]

[2018-07-10 11:54] Tyg-g commented on #47
I'm also interested in similar functionality: resetting the last visited time of an URL without actually loading it. Maybe it would be good to somehow expose the underlying native module, then similar functions could be added with platform-dependent code.

[2018-07-10 11:57] Tyg-g opened #51 "Referred Fresco version is old"
I'm worried about that the this plugin requires fresco 0.11.0 which is 2 yrs. old and had many updates since then. It could be updated, if there is no reason to stick to this version.

[2018-07-10 12:15] abhayastudios commented on #50
I had the same it will still work... If you want to get rid of the error message you can replace this in `node_modules/nativescript-web-image-cache/package.json`:

[code]

I guess it would be best if this would be replaced in the repo indeed.

[2018-07-10 14:19] Tyg-g commented on #50
I'm testing it but the image does not show. No error messages, any logs. I'm clueless.

[2018-07-10 14:23] abhayastudios commented on #50
I had to make sure that the parent element had the width/height set before it showed. Hope that helps. Otherwise post some code to people can have a look at it...

[2018-07-10 15:06] Tyg-g commented on #50
Thank you, I just found this out. If I set the `heigth` parameter, it is ok. Width is calculated. However it does not calculate the heigth from given or implicit width. For my project without automatic heigth it is quite unusable, I need functionality like the N's `<Image>` widget. Is it possible to achieve it somehow?

[2018-07-11 09:41] Tyg-g commented on #50
It is in a `<ScrollView>`, so setting the height is not possible.

I want to test the plugin more, but now I'm getting really strange errors, I cannot make it run.

[2018-07-11 10:03] Tyg-g commented on #50
Ok it works now. It shows the image with 1px height. I really need automatic height in this case.

[2018-07-13 07:32] bathejasumeet commented on #46
Hi, I will upload them over this weekend. I hope that is okay.

,
Sumeet

[2018-07-13 07:32] #45 closed

[2018-07-13 08:39] EddyVerbruggen commented on #46
Of course, that would be great!

[2018-07-16 21:38] bathejasumeet commented on #46
added

[2018-07-16 21:38] #46 closed

[2018-07-20 16:13] Dinushasilva opened #53 "Cant bundle app Nativescript 4.1.1 nativescript-web-image-cache 4.2.6"
When i try to bundle and uglify the app it says **Module not found: Error: Can't resolve 'nativescript-angular/element-registry'**

I 'm using typescript not angularjs.

[code]

[2018-07-22 13:37] terrylee2810 opened #54 "How to show rounded on IOS?"
<IC:WebImage  row="0" src="{{imgCompanyPath}}"
              height="100" width="100" class="circle-wrapper companyimg" stretch="aspectFill"
               horizontalAlignment="center" marginTop="10"></IC:WebImage>

[2018-07-22 13:39] #54 closed

[2018-08-03 05:46] VeeK727 commented on #29
@hettiger Is this what you're referring to? https://docs.nativescript.org/angular/performance-optimizations/images-optimisations

The optimizations here are all about the <Image> tag which we're not using with this plugin. I was getting out of memory error with 50 images (all same, 65KB each for testing) but even after installing the plugin I'm still getting the error. I thought fresco was suppose

[2018-08-03 05:49] VeeK727 opened #55 "Android does not initialize with sample code"
The code in the Readme
[code]
does not work and produces an error **SimpleDraweeView was not nitialized!**

This is what I used to fix the problem
[code]

[2018-08-03 06:36] hettiger commented on #29
@VeeK727 I just wanted to add some information that I've had found in this article and thought it might be related with the issue described here.

[2018-08-06 13:54] cryptonator000 commented on #53
same issue here

[2018-08-06 14:15] Dinushasilva commented on #53
@cryptonator000 nop :(

[2018-08-07 12:15] cryptonator000 commented on #53
It seems that the plugin still works.
It is not a breaking error

[2018-08-07 12:44] Dinushasilva commented on #53
@cryptonator000 plugin is working, the only problem is when you bundle it for production it's not working.

[2018-08-20 22:46] abhayastudios commented on #50
Just now I ran into something similar and saw that it is because if you don't set a height this plugin will just get the screen height (instead of calculating the available height of the parent element). I solved it doing something like below, but I guess it would be better if this plugin would take care of it.

[code]

[code]

[2018-08-23 10:51] Burgov opened #56 "Preloading images"
Hi, is there any way to preload an image even before the element is displayed on the screen?

[2018-09-08 07:11] terrylee2810 opened #58 "how to handle radius case?"

[2018-09-12 15:35] brunoziie commented on #58
@terrylee2810 I don't know if it will help in your case, but there is a attribute **rounded**.  It's boolean. When *true* the image will be rendered rounded.

[code]

[2018-09-12 21:47] abhayastudios commented on #58
Yeah one works on Android the other on iOS, so I am using both `border-radius` and `rounded="true"`

[2018-09-21 16:58] yoat opened #59 "Support for request headers (authenticated image requests)?"
I have an API serving up images and the endpoint requires authentication.  Currently it's basic auth and it'll be moving to token auth.

I'm curious if it would be possible to support generic request header parameters (probably through the initialization code, rather than directly in the template) when making the requests.  I realize this is an edge case and you have dependencies on the networking

[2018-10-02 19:13] marcel-ploch commented on #42
I can provide a Mergerequest with the needed sources if you want it. Just building in inside our Android App so you can Resize Images if you want.

[2018-10-09 05:42] nmandyam opened #60 "Can't build app: Can't resolve fresco reference due to sun.security.validator.ValidatorException"
Just installed the plugin, made code-changes to test out a simple page with cached images, tried to run the app. I see this:

  Required by:
      project :

What am I doing wrong?

[2018-10-09 13:33] nmandyam commented on #60
Dumb of  me. The NativeScript Image Cache works well already. Thanks!

[2018-10-24 17:28] asqwrd commented on #53
this issue exist still using nativescript-vue.  Commenting out the code for initializeOnAngular fixes it which means this is trying to load angular even tho angular does not exist.

[2018-11-14 13:40] alexrainman opened #61 "Images not showing in iOS"
NativeScript 5.0 with Angular 6.

[2018-11-14 13:41] alexrainman commented on #61
Found the issue.

[2018-11-14 13:41] #61 closed

[2018-11-14 14:12] alexrainman opened #62 "Crash in Android API 28"
OS: Android API 28
Device: Emulator
NativeScript: 5.0
Angular 6.0

StackTrace

[code]

[2018-11-19 00:28] waynerobinson opened #63 "Images not scaling when loading from cache"
When loading from cache in Angular  (nativescript-angular-6.2.0) the image isn't respecting the width/height values set either directly in attributes  (e.g. width="270"/width="80%") or via the CSS equivalents.

However, this works fine when the cache initially doesn't contain the image.

It's as if there is some callback that's being skipped after the image has been loaded from the cache.

[2018-11-21 10:20] Chehow commented on #56
Did you find solution?

[2018-12-18 06:06] anaszgh commented on #62
I have the same issue

TNS version 4.3.2 - Angular

[2018-12-30 21:45] EddyVerbruggen commented on #53
Ran into this issue today as well, opened PR #64.

[2018-12-30 21:48] #53 closed

[2019-01-14 12:23] Burgov commented on #56
Unfortunately not

[2019-01-14 18:09] progressify commented on #55
I have the same problem

Error: java.lang.NullPointerException: SimpleDraweeView was not initialized!

But I am on angular. Have you any solution? Or you have abandoned them library?

[2019-01-15 05:32] Whip commented on #55
I'm not using this library anymore and don't remember much of it but seems like I have posted the code that worked for me at the end. Did you try that?

[2019-01-15 16:12] progressify commented on #55
yes, but without success
I have changed library

[2019-01-28 21:02] abhayastudios opened #65 "release version 5.0.0 to npm"
Hi @bathejasumeet!

Could you please release the `5.0.0` version to npm?

Thanks!

[2019-01-30 23:26] abhayastudios commented on #56
@Burgov @Chehow I just submitted a pull request that implements this. It would be good if you could test it to confirm it is working properly. If you want to try before this is merged, you can try to use my forked [repo](https://github.com/abhayastudios/nativescript-web-image-cache).

[2019-01-31 17:01] Omi231 commented on #62
@alexrainman @anaszgh  You guys found any solution?

[2019-02-03 12:30] Omi231 commented on #61
this plugin not working with nativescript 5.0. Can u confirm this?

[2019-02-05 15:10] bathejasumeet commented on #65
would do it this week

[2019-02-11 00:20] #65 closed, assigned to nobody

[2019-02-11 10:02] abhayastudios commented on #65
@bathejasumeet thanks :)

[2019-02-11 18:16] max-pro commented on #55
I'm working on nativescript-vue getting same error
Error: java.lang.NullPointerException: SimpleDraweeView was not initialized!

[2019-02-14 22:59] apsaros commented on #55
I'm also getting the same error in ns-vue. Running the latest npm version of the package (5.0.0).

[2019-02-14 23:54] apsaros commented on #55
Ok, I solved it by initializing the imageCache (fresco) with a slight modification to the previous code by VeeK727. However, the former should work, don't know why it doesn't for me.
And don't forget to import/require the needed packs :)

[code]

[2019-02-18 00:02] #60 closed

[2019-03-14 17:51] pabloacastillo commented on #63
Same problem with Vue, the images re-scale after they are moved outside the screen view (dragging the screen)

https://www.youtube.com/watch?v=F9M_xWbf_0Y

[2019-03-21 18:19] webmeemba commented on #29
Out of Memory Issue - 6000 items

Hi, I need to be able to show in a radlistview 7000 elements with cached images in an optimal way. Currently the url of the image is 400x300 / imagen.jpg. But when you go displaying products in the view it becomes corrupted. Someone could help me?

Thanks!

[2019-03-21 18:19] webmeemba opened #67 "Out of memory - leak ui"
Out of Memory Issue - 6000 items

Hi, I need to be able to show in a radlistview 7000 elements with cached images in an optimal way. Currently the url of the image is 400x300 / imagen.jpg. But when you go displaying products in the view it becomes corrupted. Someone could help me?

Thanks!

[2019-03-27 13:50] Omi231 commented on #67
hi, did you find any solution? and what about scrolling, is it smooth?

I am facing three issues this plugin with Angular.

1) Scrolling is not smooth.
2) When used with Radlistview router navigation becomes very very low. Approx 5 second delay.

Can u confirm this? Are u facing these issue or its just happening with me?

[2019-03-27 14:00] webmeemba commented on #67
Hi,

The problem arises when the memory of images in cache is filled.

I made the following changes and achieved optimal performance in a batch of 7000 items obtained via sqlite and displayed with radListView in 3 different formats at the same time (grid, list, stagged).

What do you do:

Use thumbnails of them in webp format, (100x100).

Use image viewer to see that thumbnail in big picture.

App

[2019-05-09 08:33] blaur commented on #55
I can validate that this does not work on Android devides (when using nativescript & angular) without using the above suggestion from asparos.

[2019-06-22 09:25] comporell commented on #23
+1

[2019-07-17 07:38] tahir-jamil commented on #55
where i have to add this code @blaur  @apsaros i am working on nativescript angular project

[2019-07-24 19:54] VitorHFLopes commented on #55
this fix the problem indeed, but the image is not being rendered :(

[2019-07-25 22:50] apsaros commented on #55
@tahir-jamil if I remember correctly, I added the code in the init main.js (using nativescript-vue). However, I've since dropped this package for the nativescript-image-cache-it plugin:
https://github.com/triniwiz/nativescript-image-cache-it

[2019-08-26 14:26] webmeemba commented on #67
Sorry, same problem.

Me solution is:

`<WebImage
                width="100"
                height="100"
                decodeWidth="300"
                decodeHeight="300"
                stretch="aspectFill"
                [visibility]="(producto.sin_foto != 'S' && mostrarFoto) ? 'visible' : 'collapsed' "
                [src]="producto.foto_thumbnail"></WebImage>`

If the item does not have

[2019-08-26 14:27] webmeemba commented on #29
any solutions ? help ?

[2019-08-28 16:12] sulymkaa commented on #59
is there any chance to implement this feature?

[2019-11-12 08:19] OPADA-Eng opened #68 "Plugin is not working after bundle the app and deploy to play store"
Hi there,
I have noticed that the plugin is stopped working on android devices that have android 9 Pie and nothing showed after you deploy your app bundle to Play Store
in the debug mode it's working fine.
"tns-android": {
      "version": "6.1.2"
 },
"tns-core-modules": "~6.1.2"
"nativescript-web-image-cache": "^5.0.0",
any solution?

[2019-11-13 07:16] OPADA-Eng commented on #68
@bathejasumeet
After investigating the issue. I found the problem is from fresco lib that needs an update to version 2.1.0
I pushed a PR #69 and I hope you merge it asap.
Thanks.

[2019-11-16 13:53] alexandruantonica opened #70 "this.clearCache() is not found"
Platform: iOS only

[code]

The problems seem to be on the iOS plugin's file ([here](https://github.com/VideoSpike/nativescript-web-image-cache/blob/master/web-image-cache.ios.ts#L184)). I guess it is `clearCache` instead of `this.clearCache()`.
 In Android everything is alright but probably because there is a `clearCache` function but never used (see [this](https://github.com/VideoSpike/nativescr

[2019-11-23 12:49] OPADA-Eng commented on #68
Any news here?

[2019-12-11 09:00] OPADA-Eng commented on #68
Any efforts here?

[2020-02-02 08:55] OPADA-Eng commented on #68
?

[2020-02-07 11:45] abhayastudios commented on #68
I can confirm that this PR fixes the issue I had on Android when building an AAB instead of APK. @OPADA-Eng good job :)

@bathejasumeet please merge this PR and release a new version to NPM.

[2020-04-15 21:35] alexandruantonica commented on #68
Any news here about merging the PR?

[2020-04-19 13:00] OPADA-Eng commented on #68
Any body can contact @bathejasumeet directly to merge my PR ?

[2020-05-04 14:02] Rickkorsten commented on #68
already merged?

[2020-05-04 15:06] OPADA-Eng commented on #68
@Rickkorsten  not yet :(

[2020-05-06 12:39] jgshumate1 commented on #68
having same issue with aab file in store.  Doesn't show images, but works if download app directly from computer.   What is going on with google play store.  This sucks.  Any update on this fix?

[2020-05-06 13:43] abhayastudios commented on #68
@jgshumate1 if you want you can use my [fork](https://github.com/abhayastudios/nativescript-web-image-cache) which contains the fix, including some other improvements like prefetching images.

[2020-05-06 14:04] jgshumate1 commented on #68
Thanks @abhayastudios I will do that.

[2020-05-27 13:11] frederikgrummesgaard opened #71 "Image border radius is being overwritten! help!"
Hello @bathejasumeet!
I would like to have small rounded corners on my images but WebImage won't let me.
I know that if you'd like a round picture, you can use rounded="true" but sadly I don't want that.
Does anyone have a solution or a workaround?
I have tried to add the border radius to the layout, but it still overflows:
 <GridLayout class="adventure-entry__item-content">
                    <W

[2020-05-31 14:54] frederikgrummesgaard commented on #71
Still an issue :-)

[2020-10-23 14:43] tomups opened #72 "NS7 upgrade"
Any chance this plug-in will be updated to work with NS7?

[2020-11-25 01:54] leeartem commented on #72
@NativeScript @nstudio help

[2020-12-19 20:38] Arslan-Munir commented on #71
@frederikgrummesgaard
hi. did you find the solution?

[2020-12-19 20:45] frederikgrummesgaard commented on #71
No, I sadly didn't. Had to go without border radius

On Sat, 19 Dec 2020, 21:38 Arslan Munir, <notifications@github.com> wrote:

[2020-12-19 20:52] Arslan-Munir commented on #71
This plugin should have a property for radius to be passed instead of a simple boolean so  that a user can set a radius with its own choice.
Another plugin nativescript-image has property of radius as number, but that plugin is not showing images on some newer devices.

[2021-02-22 09:29] OPADA-Eng commented on #72
I have maintained this plugin and re-published it on my new mono repo [here](https://github.com/OPADA-Eng/ticnat-ns-plugins/tree/master/packages/nativescript-image-cache)

[2021-02-22 17:59] adamchaarawi commented on #72
@OPADA-Eng, I think you may have published the incorrect link. This [link](https://github.com/OPADA-Eng/nativescript-image-cache) works

[2021-02-22 21:23] OPADA-Eng commented on #72
@adamc13 That repo was for ns6 and for ns 7 the link in my previous comment is correct.